<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurant Hub</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}" />
</head>

<body>
    <div id="wrapper">
        <header>
            <div class="navbar">
                <ul>
                    <li><a href={% url 'webapp:index' %}>Home</a></li>
                    {% if user.is_authenticated %} {% if 'webapp.add_restaurant' in perms %}
                    <li><a href={% url 'webapp:restaurant_create' %}>Add Restaurant</a></li>
                    {% endif %}
                    <li><a href={% url 'logout' %}>Logout</a></li>{% endif %} {% if not user.is_authenticated %}
                    <li><a href={% url 'login' %}>Login</a></li>
                    <li><a href={% url 'register_user' %}>Register</a></li>{% endif %}
                </ul>
            </div>
        </header>
        {% if user.is_authenticated %}
        <div id="user_info">
            <p><i>Logged in as {{ user.username }}</i></p>
        </div>
        {% endif %}
        <div id="overlay"></div>
        <div class="container">
            <div id="search_bar">
                <form action="{% url 'webapp:search' %}" method="post">
                    {% csrf_token %}
                    <input type="text" id="search_field" name="search_field" value="" placeholder="Search Anything" />
                    <input type="submit" id="search_btn" name="search_btn" value="Search" />
                </form>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'webapp/js/scripts.js' %}"></script>
</body>

</html>