<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurant Hub</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}" />
</head>

<body>
    <header>
        <div class="navbar">
            <ul>
                <li><a href={% url 'webapp:index' %}>Home</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        {% block search_bar %}{% endblock %} {% block container %}{% endblock %}
    </div>
    <footer>
    </footer>
</body>

</html>