<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurant Hub</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style.css' %}" />
</head>

<body>
    <div id="wrapper">
        <header>
            <div class="navbar">
                <ul>
                    <li><a href={% url 'webapp:index' %}>Home</a></li>
                    <li><a href={% url 'webapp:restaurant_create' %}>Add Restaurant</a></li>
                </ul>
            </div>
        </header>
        <div class="container">
            <div id="search_bar">
                <form action="{% url 'webapp:search' %}" method="post">
                    {% csrf_token %}
                    <input type="text" id="search_field" name="search_field" value="" placeholder="Search Anything" />
                    <input type="submit" id="search_btn" name="search_btn" value="Search" />
                </form>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer>
        </footer>
    </div>
</body>

</html>