{% extends 'webapp/base.html' %}
<br> {% block content %}
<br> {% if restaurant_list %} {% for restaurant in restaurant_list %}
<div class="content_row">
    <h3>{{ restaurant.name }}</h3>
    <p>{{ restaurant.description|truncatewords:20 }}
        <a href={% url 'webapp:detail' restaurant.id %}>Read More</a>
    </p>
    <a class="book_table_link" href={% url 'webapp:booking_create' restaurant.id %}>Book Table</a>
</div>
{% endfor %} {% else %}
<p>No restaurant added</p>
{% endif %} {% endblock %}