{% extends "webapp/base.html" %} {% block content %}
<div class="content_row">
    {% if form.instance.pk %}
    <form action="{% url 'webapp:restaurant_update' restaurant_id %}" method="post">
        {% else %}
        <form action="{% url 'webapp:restaurant_create' %}" method="post">
            {% endif %} {% csrf_token %} {{ form.as_p }}
            <button type="submit" name="save_btn">Save</button> {% if form.instance.pk %}
            <button type="submit" name="delete_btn">Delete</button>{% endif %}
        </form>
</div>
{% endblock content %}