{% extends "webapp/base.html" %} {% block content %}
<div class="content_row">
    <h1>{{ user.username }}</h1>
    {% if customer %} {% for booking in context_list %}
    <div class="booking_list">
        <ul>
            <li>
                <strong>{{ booking.name }}</strong>
            </li>
            <li>
                <a href={% url 'webapp:booking_update' booking.id %} name="edit_btn">Edit</a>
                <a href={% url 'webapp:booking_delete' booking.id %} name="delete_btn">Delete</a>
            </li>
        </ul>
    </div>
    {% endfor %} {% else %} {% for restaurant in context_list %}
    <div class="restaurant_list">
        <ul>
            <li>
                <strong><a href={% url 'webapp:detail' restaurant.id %}>{{ restaurant.name }}</a></strong>
            </li>
            <li>
                <a href={% url 'webapp:restaurant_update' restaurant.id %}>Edit</a>
            </li>
        </ul>
    </div>
    {% endfor %} {% endif %}
</div>
{% endblock content %}