html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

header {
    height: 50px;
    padding: 10px;
}

header,
footer {
    background-color: #e9e9e9;
}

.container {
    display: block;
    width: 600px;
    margin: 20px auto;
    padding-bottom: 200px;
}

footer {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -20px;
}

a {
    text-decoration: none;
    color: #62a5a1;
}

ul {
    list-style: none;
}

.book_table_link {
    display: block;
    background-color: #e9e9e9;
    padding: 10px 10px;
    font-weight: bold;
    width: 80px;
    height: 20px;
}

.content_row {
    display: block;
    margin: 10px auto 50px;
}

.navbar {
    display: block;
    float: left;
}

.navbar li {
    display: inline;
    margin: auto 10px;
}

#search_bar {
    display: block;
    margin: 10px auto;
}

#search_field {
    width: 500px;
    height: 30px;
}

#search_btn {
    height: 35px;
    width: auto;
}

#overlay {
    visibility: hidden;
    position: absolute;
    display: block;
    width: 100%;
    margin: 20px auto;
    padding-bottom: 200px;
    padding-top: 300px;
    text-align: center;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
}

#overlay div {
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    border: 1px solid #000;
    padding: 15px;
    text-align: center;
}