html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

header {
    height: 50px;
    padding: 10px;
}

header,
footer {
    /*background-color: #08798b;*/
    background-color: #0f515f;
}

.container {
    display: block;
    width: 800px;
    margin: 0px auto;
    padding-bottom: 300px;
    background-color: #e9e9e9;
}

footer {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -50px;
}

a {
    text-decoration: none;
    color: #62a5a1;
    /*color: white;*/
}

ul {
    list-style: none;
}

.book_table_link {
    display: block;
    background-color: #e9e9e9;
    padding: 10px 10px;
    font-weight: bold;
    width: 80px;
    height: 20px;
}

.content_row {
    display: block;
    /*margin: 10px auto 0px;*/
    padding: 10px 95px;
}

.navbar {
    display: block;
    float: left;
}

.navbar li {
    display: inline;
    margin: auto 10px;
}

#search_bar {
    display: block;
    width: 100%;
    height: 100px;
    background-color: #08798b;
    /*margin: 20px auto;*/
    margin-top: -20px;
    padding-top: 20px;
}

#search_bar ul {
    margin-left: -40px;
}

#search_bar li {
    display: inline;
}

#search_field {
    display: block;
    width: 800px;
    height: 30px;
    margin: auto;
}

input {
    display: block;
    width: 600px;
    height: 30px;
}

#search_btn {
    display: block;
    height: 35px;
    width: auto;
    visibility: hidden;
    /*margin: -35px auto;*/
}

#overlay {
    visibility: hidden;
    position: absolute;
    display: block;
    width: 100%;
    margin: 20px auto;
    padding-bottom: 200px;
    padding-top: 300px;
    text-align: center;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
}

#overlay div {
    width: 600px;
    margin: 100px auto;
    background-color: #fff;
    border: 1px solid #000;
    padding: 15px;
    text-align: center;
}

#user_info {
    display: block;
    float: right;
}

#user_info li {
    display: inline;
    margin: auto 10px;
}

.restaurant_list {
    display: block;
    float: left;
}

.restaurant_list li {
    display: inline;
    margin: auto 30px;
}